<%= render TilexWeb.SharedView, "post.html", conn: @conn, post: @post %>

<%= if TilexWeb.PostView.more_info?(@post.channel) do %>
  <div class="more-info">
    <%# TODO<%= render TilexWeb.SharedView, "_#{@post.channel.name}.html" %>
    <%= render TilexWeb.SharedView, "_marketing.html" %>
  </div>
<% end %>
